model_config_list {
  config {
    name: 'nsfw_content_moderator'
    base_path: '/models/nsfw_content_moderator'
    model_platform: 'tensorflow'
    model_version_policy {
        specific {
            versions: 1
          }
    }
  }
  config {
    name: 'nsfw_detector'
    base_path: '/models/nsfw_content_moderator'
    model_platform: 'tensorflow'
    model_version_policy {
        specific {
            versions: 1
          }
    }
  }
  config {
    name: 'hentai_detector'
    base_path: '/models/nsfw_content_moderator'
    model_platform: 'tensorflow'
    model_version_policy {
        specific {
            versions: 1
          }
    }
  }
  config {
    name: 'nudity_detector'
    base_path: '/models/nsfw_content_moderator'
    model_platform: 'tensorflow'
    model_version_policy {
        specific {
            versions: 1
          }
    }
  }
  config {
    name: 'female_swimwear_detector'
    base_path: '/models/nsfw_content_moderator'
    model_platform: 'tensorflow'
    model_version_policy {
        specific {
            versions: 1
          }
    }
  }
  config {
    name: 'underwear_detector'
    base_path: '/models/nsfw_content_moderator'
    model_platform: 'tensorflow'
    model_version_policy {
        specific {
            versions: 1
          }
    }
  }
}