model_config_list {
  config {
    name: 'holypics'
    base_path: '/models/holypics'
    model_platform: 'tensorflow'
    model_version_policy {
        specific {
            versions: 1
          }
    }
  },
  config {
    name: 'holipics'
    base_path: '/models/holipics'
    model_platform: 'tensorflow'
    model_version_policy {
        specific {
            versions: 1
          }
    }
  }  
}